<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Links game">
        <meta name="keywords" content="links game">

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "/css/styles.css" %}">

        <title>Links</title>

    </head>
    <body>
        <div class="container">
        <div> 
            <h1> LINKS </h1>
        </div>

        {% if word_list %}

            <section class="layout" id="layout">
            {% for word in word_list %}
                <div class="white_box" onclick="changeTileColor(this)">
                    <p>{{ word }}</p>
                </div>
            {% endfor %}
            </section>

            {% else %}
                <p>No categories are available.</p>

        {% endif %}

        <section class="answer_layout">
                <div class="hidden_box" id="answer_box1"> Answer </div>
                <div class="hidden_box" id="answer_box2"> Answer </div>
                <div class="hidden_box" id="answer_box3"> Answer </div>
        </section>

        <script src="{% static "js/scripts.js" %}"></script>
        <script type="text/javascript">
            token = "{{ csrf_token }}";
            category_1_list = ["{{ category_1_word_1 }}", "{{ category_1_word_2 }}", "{{ category_1_word_3 }}"];
            category_2_list = ["{{ category_2_word_1 }}", "{{ category_2_word_2 }}", "{{ category_2_word_3 }}"];
            category_3_list = ["{{ category_3_word_1 }}", "{{ category_3_word_2 }}", "{{ category_3_word_3 }}"];
        </script>
    </div>
    </body>
</html>